<div id="executor">
  <ul>
    <li>{{executor.name}}</li>
    <li>{{executor.firstName}}</li>
    <li>{{executor.lastName}}</li>
    <li>{{executor.email}}</li>
    <li>{{executor.categories}}</li>
    <li>{{executor.reviews}}</li>
  </ul>
  <a href="/executors">Go back to freelancers</a>
</div>
